@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  /* overflow-y: hidden;
  overflow-x: hidden; */
  /* background-color: #F8F5F4; */
    /* background-color: #000000; */
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

.scroll-stop {
  overflow-y: hidden !important;
  background: red !important;
}